/* AddModuleForm.css */
.add-module-container {
    height: 98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: #f8f9fa;  */
    /* margin: 30px auto 0; */

  }
  
  .add-module-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    /* background-color: #FFFFFF;  */
    /* background-color:red;  */
    color: #000000; /* Black text */
    border: 1px solid rgba(128, 128, 128, 0.414);
    /* border: 1px solid palevioletred; */
    border-radius: 10px;
    margin: 30px auto 0;
    width: 90%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 
               0 -5px 10px rgba(0, 0, 0, 0.1), 
               5px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .module-form {
    margin-bottom: 3rem;
  }
  
  .excel-form {
    margin-top: 2rem;
  }
  
  .submit-heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    background-color: transparent;
    color: inherit;
  }
  
  .full-width-btn {
    width: 100%;
  }
  
  .file-info {
    font-size: 0.875em;
    color: #6c757d;
  }


  /* dark mode  */
.add-module-content-dark{
    background-color: var(--main-black) !important;
    color: var(--main-white);
}
/* .add-module-content-dark::content{
    color: aqua;
} */