.formateurs-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background-color:var(--main-grey);
  color: white;
  display: flex;
  flex-direction: column;
}
.module-scrollable-content {
    flex: 1;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
.formateur-card {
  background: var(--main-white);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  color: black;
  border: 1px solid gray;
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.659);
}

.modules-list {
  margin-top: 10px;
  padding-left: 20px;
}

.modules-list li {
  margin-bottom: 10px;
}

.groupes-list {
  color: #555;
  font-size: 0.9em;
  margin-top: 5px;
}

.module-scrollable-content h2{
  color: black;
}

/* dark mode  */

.formateurs-container-dark {
    background-color: var( --dark-grey);
}
.formateurs-container-dark .module-scrollable-content h2{
    color: white;
}

.formateurs-container-dark .formateur-card{
 background-color: black;
 color: var(--main-white);
}